<!DOCTYPE html>
<html ng-app>
  <head>
    <title>angular.js</title>
    <link href="style.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  </head>

  <body ng-controller='userCtrl'>
    <h1>hello angular</h1>
     <form>
      <input type='text' ng-model='name' />
      <input type='submit' value='greet user' ng-click="showGreet()" />
    </form>

    <div ng-show='showGreeting'>
      <h3> Welcome back, {{name}}</h3>
      <h4>your friends are:</h4>
      <ul>
        <li ng-repeat='friend in friends'>{{friend.name}}</li>
      </ul>
    </div>
 
    <script src='controller.js'></script>
  </body>

</html>

